<div style="background-image: url(<%= image_url("table-food.jpg")%>);">
<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
</div>
<div>
  <div d-flex>
    <h3>Location: <%= @restaurant.address %></h3>
    <h3>Contact: <%= @restaurant.phone_number %></h3>
  </div>
  <%= link_to 'Add Review', new_restaurant_review_path(@restaurant)%>
  <h2>Reviews</h2>
    <% @reviews.each do |review|%>
      <div>
        <p><em><%= review.content %></em></p>
        <p><% review.rating.times do %>
        ⭐
        <% end %></p>
      </div>
    <% end %>
</div>
